/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic Page Setup */
body {
  font-family: monospace;
  line-height: 1.6;
}

#about-me-text {
  text-align: left;
}

#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* Section Styling */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  text-align: center;
}

.section:nth-child(even) {
  background-color: #f4f4f4;
}

.block {
  width: 50%;
}

.project {
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  margin: 0px;
}

.projectimg {
  display: block;
  margin: 0 auto;           /* Center horizontally */
  max-width: 100%;          /* Prevent overflow */
  height: auto;             /* Maintain aspect ratio */
}

/* Responsive Styling for Mobile */
@media (max-width: 768px) {

  /*Set page items to full screen width for small screens*/
  .block {
    width: 100%
  }
}
