* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: monospace;
  line-height: 1.6;
}

/* Header / Navbar */
#header {
  flex-shrink: 0;
  background-color: #222;
  color: #fff;
  width: 100%;
  z-index: 1000;
}

#gameWrapper {
  flex-grow: 1;
  overflow: hidden;
}

.allwrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

canvas {
  display: block;
  margin: 0 auto;
}