html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: monospace;
  line-height: 1.6;
}

/* Header / Navbar */
header {
  background-color: #222;
  color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

canvas {
  display: block;
  margin: 0 auto;
}

#gameWrapper {
  position: relative;
}