* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: monospace;
  line-height: 1.6;
}

/* Header / Navbar */
#header {
  background-color: #222;
  color: #fff;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  width: 100%;
  z-index: 1000;
}

#gameWrapper {
  flex-grow: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  margin: 0 auto;
}