/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic Page Setup */
body {
  font-family: monospace;
  line-height: 1.6;
}

#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

#title {
  text-align: center;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

#content {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;

  border: 3px solid rgb(0 0 0);
  border-radius: 0.5em;
  padding: 5px;
}

#subcontainer {
  margin: 0px 0px 10px 10px;
  text-align: center;
}

#inputcontainer {
  display: flex;
  margin: 0px 30px 0px 0px;
}

#inputform {
  display: flex;
}

#passoutput {
  border: 1px solid rgb(0 0 0);
  border-radius: 0.5em;
  padding: 5px;
  width: fit-content;
}

p {
  margin: 0px 10px 0px 0px;
}

/* Responsive Styling for Mobile */
@media (max-width: 768px) {

  /*Set page items to full screen width for small screens*/
  #container {
    height: 400px;
  }

  #content {
    width: 100%;
  }
}